@model IEnumerable<Assignment2.Models.StockRequest>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>ID</label>
            </th>
            <th>
                <label>Store</label>
            </th>
            <th>
                <label>Product</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        
        @foreach (var item in Model)
            
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockRequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="ProcessStockRequest" asp-route-id="@item.StockRequestID">Process Request</a>
            </td>
        </tr>
            }
    </tbody>
</table>
